.stats-container {
  display: flex;
  gap: 40px;
  /* flex-wrap: wrap; */
  /* max-width: 800px; */
  /* margin: 40px auto; */
  /* padding: 0 20px; */
  align-items: flex-start;
  justify-content: flex-start;
}

.stat-card {
  flex: 1 1 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px 25px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}
.stat-card2 {
  flex: 1 1 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 20px 25px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
}
.stat-card2:hover {
  transform: translateY(-5px);
}

/* Gradients */
.card-orange {
  background: linear-gradient(to right, #ff6a00, #ee0979);
}

.card-green {
  background: linear-gradient(to right, #00c9a7, #007f73);
}

.card-blue {
  background: linear-gradient(to right, #0456e8, #003f73);
}
.card-purple {
  background: linear-gradient(to right, #090040, #511D43);
}


.stat-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 6px;
}

.stat-value {
  font-size: 32px;
  font-weight: 700;
}

.stat-icon {
  font-size: 30px;
  opacity: 0.85;
}
.year_card
{
  border: 1px solid #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 12px;
}
